@font-face {
  font-family: "Thick-Medium";
  src: url("../../font/THICCCBOI-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "Thick-Bold";
  src: url("../../font/THICCCBOI-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Thick-Regular";
  src: url("../../font/THICCCBOI-Regular.ttf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Thick-Bold", "Thick-Medium", "Thick-Regular";
  letter-spacing: 0.2px;
  color: #333;
  margin: 0;
  text-align: left;
}

h1 {
  font-family: "Thick-Bold", "Thick-Medium", "Thick-Regular";
  font-size: 39px;
  line-height: 42px;
  margin-bottom: 50px;
}

h2 {
  font-family: "Thick-Medium", "Thick-Regular";
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  color: #333;
  margin-block-start: 40px;
  margin-block-end: 30px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  font-family: "Thick-Regular";
  font-size: 20px;
  line-height: 26px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Common styles for the logo and navbar links */
.logo {
  max-width: 150px; /* Adjust the max-width as per your requirement */
  height: auto;
  float: left;
  margin: 15px 30px; /* Adjust the margins as needed */
}

/* Navbar styles */
.navbar {
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-bottom: 80px;
  overflow-wrap: normal;
  overflow: hidden;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px; /* Adjust the spacing between navbar links */
  font-size: 16px;
  float: right; /* Align the <a> elements to the left side */
}

/* Rest of the styles */

/* Add media queries for responsive design */
@media screen and (max-width: 768px) {
  /* For screens smaller than 768px, make the navbar responsive */
  .navbar {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center; /* Center the <a> elements */
  }

  .navbar a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
  }

  .logo {
    float: none;
    margin: 15px auto;
  }

  /* Hide the top-info and divider elements on smaller screens */
  .top-info,
  .divider {
    display: none;
  }
}

.container {
  width: 100%;
}

.top {
  background-color: #0098f1;
  height: 650px;
}

.clear {
  background-color: #fff;
  height: auto;
}

.row {
  max-width: 63rem;
  margin: auto;
  display: block;
}

.content {
  padding: 22px;
}

.wrapper {
  display: flex;
  padding: 22px;
}
.sidepanel {
  width: 200px;

  overflow-x: hidden;
  position: fixed;
  height: calc(100% - 120px); 
  bottom: 0; 
}

.english .sidepanel a.title {
  font-family: "Thick-Regular", serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  color: #333;
  display: block;
  padding-bottom: 12px;
 
  overflow: hidden;
}

.sidepanel a.section {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 30px;
  display: block;
  text-decoration: none;
  color: #333;
}

.sidepanel a.sub-section {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 25px;
  display: block;
  text-decoration: none;
  color: #333;
  padding-left: 20px;
}

.sidepanel a.title:hover,
.sidepanel a.section:hover,
.sidepanel a.sub-section:hover {
  text-decoration: underline;
}

.main-col {
  width: 70%;
  margin: auto;
  text-align: center;
}

.main-col p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 36px;
}

.right-col {
  text-align: left;
  width: 100%;
  margin-left: 220px;
}

.right-col h1 {
  font-family: "Thick-Bold", monospace;
  font-size: 50px;
}

.english .right-col h2 {
  font-family: "Thick-Bold", monospace;
  color: mediumblue;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 30px;
  text-align: left;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.english .right-col p {
  font-family: "Thick-Medium", monospace;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 36px;
}
.english .right-col ul {
  font-family: "Thick-Medium", monospace;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  margin-bottom: 36px;
}

.right-col a {
  color: #0098f1;
  text-decoration: underline;
}

.right-col ol {
  margin-block-start: 10px;
}

.logo {
  width: 150px;
  float: left;
  margin: -10px 30px;
}

.col {
  width: 50%;
  float: left;
}

.top-info {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  text-align: center;
}

.divider {
  width: 40px;
  height: 4px;
  background: #0098f1;
  border-radius: 30px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.left {
  margin: 20px 0;
}

.footer {
  float: left;
  width: 100%;
  padding: 90px 0 20px;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
}

.footer a {
  color: #333;
}

.resp-break {
  display: none;
}

.break {
  display: block;
}

.space {
  height: 30px;
  width: 100%;
  float: left;
}

.double {
  height: 60px;
}

.links {
  float: left;
  padding-bottom: 8px;
}

@media only screen and (max-width: 420px) {
  .logo {
    width: 80px;
  }

  .navbar {
    height: auto;
  }
  .navbar a {
    display: none;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    color: #000000;
  }
  h1 {
    font-size: 14px;
  }

  h2 {
    font-size: 10px;
  }

  .links {
    float: none;
  }
}

@media only screen and (max-width: 650px) {
  .logo {
    width: 100px;
    margin: -10px 0px;
  }

  .navbar {
    background-color: #ffffff;
    padding-bottom: 5px;
    float: none;
    text-align: center;
    height: auto;
    position: sticky;
  }
  .navbar a {
    display: none;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    color: #000000;
  }

  .resp-break {
    display: block;
    margin: 17px;
  }

  .main-col {
    width: 100%;
  }

  .wrapper {
    display: block;
  }

  .sidepanel {
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    background-color: #f0f0f0;
  }

  .sidepanel a.title,
  .sidepanel a.section,
  .sidepanel a.sub-section {
    text-align: center;
  }

  .left {
    margin: 20px auto;
  }

  .right-col {
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 450px) {
  .logo {
    margin: -10px 0px;
  }
  .navbar {
    background-color: #ffffff;
    padding: 5px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .navbar a {
    display: none;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    color: #000000;
  }
}

@media only screen and (min-width: 650px) {
  .logo {
    margin: -10px 0px;
  }
  .navbar {
    background-color: #ffffff;
    padding-bottom: 5px;
    float: none;
    text-align: center;
    height: auto;
    position: sticky;
  }
  .navbar a {
    padding-bottom: 5px;
    float: none;
    text-align: center;
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 12px;
  }
}

.logo {
}

@media only screen and (min-width: 768px) {
  .logo {
    margin: -10px 0px;
  }

  .navbar {
    background-color: #ffffff;
    padding-bottom: 5px;
    float: none;
    text-align: center;
    height: auto;
    position: sticky;
  }
  .navbar a {
    float: right;
    text-align: center;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    background-color: #ffffff;
    padding-bottom: 5px;
    float: none;
    text-align: center;
    height: auto;
    position: sticky;
  }
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }
}

.inner-sidepanel {
  position: sticky;
  top: 140px;
}
.navbar {
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-bottom: 80px;
  background-color: #ffffff;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  float: right;
}
