@font-face {
  font-family: "Aslam";
  src: url("../font/Aslam.ttf") format("opentype");
}
@font-face {
  font-family: "THICCCBOI";
  src: url("../font/THICCCBOI-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Jameel";
  src: url("../font/JameelNastaleeq.ttf") format("opentype");
}

.container-left_side {
}
.container-left_side:hover {
}

.container-right_side {
}
.container-right_side:hover {
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  max-width: 1080px;
}

.container:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container--mid {
  max-width: 900px;
}

.button__text {
  vertical-align: middle;
  font-size: 14px;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.english-text {
  font-family: "THICCCBOI", cursive;

  font-size: 20px;
  color: #333;
  margin: 0;
  text-align: left;
}

.english-text__heading {
  font-family: "THICCCBOI", cursive;
  font-size: 30px;
  color: #333;
  margin: 0;
  text-align: left;
}
.english-text__heading :hover {
  font-family: "THICCCBOI", cursive;
  font-size: 30px;
  color: #8d0b0b;
  margin: 0;
  text-align: left;
}

.urdu-text left-side {
  font-family: "Aslam", cursive;
  font-size: 40px;
  color: #333;
  margin: 0;
  direction: rtl;
  text-align: right;
}

.urdu-text left-side h1 {
  font-family: "Urdu-Font", cursive;
  font-size: 40px;
  color: #333;
  margin: 0;
  direction: rtl;
  text-align: right;
}
.urdu-text left-side p {
  font-family: "Jameel", cursive;
  color: #333;
  margin: 0;
  direction: rtl;
  text-align: right;
}
.button {
  display: inline-block;
  position: relative;
  padding: 5px 5px;
  min-width: 80px;
  min-height: 25px;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #4d61fc;
  color: #fff;

  transition: border 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #d4d0d0;
  color: #4d61fc;
}

.button:active {
  transform: scale(0.98);
}
